body {

    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #3b3b3b;
}

.mainPostion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.googleIMG {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    width: 300px;
}

.InputSearch {
    line-height: 25px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-color: #bfe1e5;
    border-radius: 24px;
    border: 1px;
    direction: rtl;
    font-size: 16px;
    color: #b6adad;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background: #202124;




}

.InputSearch[type="text"]::placeholder {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20;
    color: #9c9898;

}



.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonUnderSearch {

    margin: 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #dfe1e5;
    color: rgb(41, 38, 38);
    border: none;
    border-radius: 8px;
    border-color: #dfe1e5;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
}

.buttonUnderSearch:active {
    box-shadow: 0 0 10px red;
    /* الظل الأحمر عند الضغط */

}